.header-brand{
  display: flex;

  width: 100%;
  background-color: rgb(145, 121, 125);

  @mixin tabPort{
    width: 80%;
  }

  @mixin tabLand{
    width: 84%;
  }

  &__heading {
    display: flex;
    align-items: center;
    overflow: hidden;

    background-color: rgb(197, 67, 89);
    font-size: 2.4rem;
    padding-left: 10px;
    
    @mixin tabPort{
      font-weight: 300;
      font-size: 2.8rem;
    }

    @mixin tabLand{
      font-size: 3.2rem;
    }
  }

  &__logo-box{
    width: 8rem;
    height: 8rem;
    background-color: yellowgreen;

    @mixin tabLand{
      width: 10rem;
      height: 10rem;
    }
  }

  &__logo{
    height: 100%;
  }
}