.header-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  background-color: rgb(108, 121, 180);

  @mixin tabPort{
    display: flex;
     
    justify-content: flex-start;
  }

  @mixin tabLand{
    display: flex;
  }
  
  &__toggle{
    background-color: rgb(81, 146, 65);
    padding: 4px 6px;
    transition: $tr-all-fast;
    border: none;
    color: none;
    font-size: 1..8rem;

    &:hover,&:active{
      filter: $brighten;
    }

    &:not(:last-child){
      margin-right: 1rem;
    }
  }
}